{% extends 'base.html' %}

{% block content %}
<div class="posts" style="padding-top: 2rem;">
    {% for post in posts %}
    <div class="card">
        <div class="card-body">
            <a href="{% url 'social:post_detail' post.id %}" style="text-decoration: none;">
                <h4 class="card-title">{{ post.title }}</h4>
            </a>
            <h6 class="card-subtitle mb-2 text-muted">By {{ post.author.username }} on {{ post.date_posted }}</h6>
            <p class="card-text">{{ post.content }}</p>
            <div>
                <form hx-post="{% url 'social:like_post' post.id %}" hx-trigger="submit"
                    hx-target="#like-count-{{ post.id }}" style="display: flex;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-block" style="width: auto;">
                        <i class="fa fa-thumbs-up"></i>
                        Like
                    </button>
                    <h3 id="like-count-{{ post.id }}" class="text-primary" style="margin-left: 0.5rem;">
                        {{ post.num_likes }}
                    </h3>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}