{% extends 'base.html' %}

{% block content %}
<div class="posts" style="padding-top: 2rem;">
    {% for post in posts %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ post.title }}</h4>
            <h6 class="card-subtitle mb-2 text-muted">{{ post.author.username }}</h6>
            <p class="card-text">{{ post.content }}</p>
            <p>Likes: <span id="likes-count-{{ post.id }}"> {{ post.like_count }} </span></p>
            <form id="like-form" class="like-form" data-post-id="{{ post.id }}"
                hx-post="{% url 'social:like_post' post.id %}" hx-target="likes-count-{{ post.id }}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Like</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script>
    document.querySelectorAll('form').forEach(function (form) {
        form.addEventListener('htmx:response', function (event) {
            const postId = event.detail.elt.getAttribute('data-post-id');
            const likesCount = event.detail.xhr.response.likes_count;
            document.querySelector('#likes-count-' + postId).textContent = likesCount;
        });
    });    
</script>
{% endblock %}