{% extends 'base.html' %}

{% block content %}
<div class="post_detail" style="padding-top: 2rem;">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title text-primary">{{ post.title }}</h3>
            <h6 class="card-subtitle mb-2 text-muted">By {{ post.author.username }} on {{ post.date_posted }}</h6>
            <p class="card-text">{{ post.content }}</p>
            <h4 id="likes-count-{{ post.id }}" class="text-muted">
                <i class="fa fa-thumbs-up"></i>
                {{ num_likes }}
            </h4>

            <hr>
            <h5 class="text-primary">Comments</h5>

            <div class="comments" id="comment_list">
                {% include 'partials/_comment_list.html' %}
            </div>

            <div class="add-comment">
                <form id="comment-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea class="form-control" id="comment-textarea" name="comment"
                            placeholder="Enter your comment..."></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" hx-post="{% url 'social:add_comment' post.id %}"
                        hx-target="#comment_list">Add a Comment</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}