{% extends 'base.html' %}

{% block content %}
<div class="posts" style="padding-top: 2rem;">
    {% for post in posts %}
    <div class="card">
        <div class="card-body">
            <a href="{% url 'social:post_detail' post.id %}" style="text-decoration: none;">
                <h4 class="card-title">{{ post.title }}</h4>
            </a>
            <h6 class="card-subtitle mb-2 text-muted">By {{ post.author.username }} on {{ post.date_posted }}</h6>
            <p class="card-text">{{ post.content }}</p>
            <p>Likes: <span id="likes-count-{{ post.id }}"> {{ post.num_likes }} </span></p>
            <div id="like-post-{{ post.id }}">
                <form hx-post="{% url 'social:like_post' post.id %}" hx-trigger="submit" hx-swap="outerHTML"
                    hx-target="#like-post-{{ post.id }}" id="like-form-{{ post.id }}" data-post-id="{{ post.id }}">
                    {% csrf_token %}
                    <span id="likes-count-{{ post.id }}">{{ post.num_likes }}</span>
                    <button type="submit" id="like-button-{{ post.id }}">
                        {% if request.user in post.like.all %}
                        Unlike
                        {% else %}
                        Like
                        {% endif %}
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script>
    document.querySelectorAll('form').forEach((form) => {
        form.addEventListener('htmx:afterSwap', (event) => {
            const data = JSON.parse(event.detail.xhr.response);
            const postId = form.dataset.postId;
            const likesCountSpan = document.querySelector(`#likes-count-${postId}`);
            likesCountSpan.innerText = data.likes_count;

            const likeButton = document.querySelector(`#like-button-${postId}`);
            if (data.likes_count > 0 && likeButton.innerText === 'Like') {
                likeButton.innerText = 'Unlike';
            } else if (data.likes_count === 0 && likeButton.innerText === 'Unlike') {
                likeButton.innerText = 'Like';
            }
        });
    });
</script>
{% endblock %}