/* Forms */
.form-group {
    padding-bottom: 1rem;
}

.btn-primary {
    width: 100%;
}

/* Messages */
.hello-msg {
    display: flex;
    color: #5F90DA;
    margin-right: 1rem;
}

.m2 {
    padding-right: 1rem;
}

/* Nav Bar */
.nav-item {
    display: flex;
    align-items: center;
}

/* Cards */
.card {
    border-radius: 1rem;
    margin-bottom: 1rem;
}