{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- Required meta Tags -->
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- Loading favicon -->
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <!-- Bootstrap Library styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/lux/bootstrap.min.css">

    <title>Optery Connect</title>
</head>

<body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>