{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- Required meta Tags -->
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- Loading favicon -->
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <!-- Library for icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!-- Bootstrap Library styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/cosmo/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <title>Optery Connect</title>
</head>

<body>
    <!-- Nav Bar -->
    {% include 'partials/_navbar.html' %}

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- HTMX Library -->
    <!-- <script src="/static/js/htmx.1.9.0.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/htmx.org/dist/htmx.min.js"></script>


    <!-- Jquery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <!-- Script for remove messages automatically -->
    <script>
        setTimeout(function () {
            if ($('#msg').length > 0) {
                $('#msg').remove();
            }
        }, 3000)
    </script>
</body>

</html>